/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
/****************/


@import url('https://fonts.googleapis.com/css?family=Bungee');

 .nav-tabs .nav-link{
  font-family: 'Bungee';
 }
.modal_popup > .btn-primary {
    color: black;
    font-family: 'Bungee';
    background-color: #ad97ef;
    border-color: #170954;
    /*#820de7*/
}

.modal-body .btn-primary{
  color: black;
    font-family: 'Bungee';
    background-color: #ad97ef;
    border-color: #170954;
}


.chat-messages{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 85%;
  
}
.input-group > .input-group-prepend > .btn-primary {
  /*#ad97ef*/
  background-color: #6b58cd;
  border-color: #4d136d;
  font-family: 'Bungee';
}
/*.chat-ui{
  width: 750px;
	height: 750px;
	background-color: grey;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}*/
.chat-ui{
  max-height: 100%;
  position: absolute;
  top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.chat-input{
  padding: 50px;
  position: absolute; 
  bottom: 0; 
  width: 100%; 
  height: 50px; 
  border: 2px solid #6b58cd;
  border-radius: 4px;
  padding: 5px;
}
.chat-header {
  background-color: #6b58cd;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}

.chat-header > h1 {
  font-family: 'Bungee', 'cursive';
  font: 'Bungee';
}

.modal-title {
  font-family: 'Bungee', 'cursive';
}

.Messages-list {
  padding: 20px 0;
  max-width: 100%;
  max-height:90%;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: orangered;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid orangered;
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #6b58cd;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #6b58cd;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
